@model IdentitySample.Models.ViewModels.UserManagementIndexViewModel
@inject UserManager<ApplicationUser> userManager

    <h2>Users</h2>

    <table>
        <thead>
            <tr>
                <th>Email</th>
                <th>Roles</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>@(string.Join(",", await userManager.GetRolesAsync(user)))</td>
                    <td><a asp-controller="UserManagement" asp-action="AddRole" asp-route-id="@user.Id">Add Role</a></td>
                </tr>
            }
        </tbody>
    </table>
